* {
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    height: auto;
}

main {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    position: absolute;
    bottom: 1em;
    left: 1em;
}

button {
    background-color: #e7e7e7;
    border: none;
    font-size: 12px;
    text-align: center;
    padding: 1em;
    margin: 0.25em;
    
}

.search {
    text-align: center;
}

.searchbox {
    margin-top: 1em;
    margin-bottom: 2em;
    border-radius: 25px;
    width: 100%;
    line-height: 2em;
    border-style: solid;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding: 1em;
    font-size: 10pt;
}

li a {
    text-decoration: none;
    color: #000;
}

li.navleft {
    float: left;
}

li.navright {
    float: right;
}